//* intro screen

.title {
  font-family: monospace;
  font-weight: 100;
  font-family: 'Cutive Mono', monospace;
}

h1 {
  font-size: var(--fs-400);
  position: relative;
  font-weight: 200;
  width: max-content;
}

h1::before,
h1::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: var(--bg-color);
  animation: typewriter var(--typeSpeed) steps(17) 1s forwards;
}

h1::after {
  width: 0.125em;
  background: rgb(21, 85, 21);
  animation: typewriter var(--typeSpeed) steps(17) 1s forwards,
    blink 750ms steps(8) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

#start-button {
  padding: 0.2em 1em;
  border: none;
  border-radius: 0.3em;
  font-size: 2rem;
  cursor: pointer;
  z-index: 99;
  position: absolute;
  top: 25%;
  left: 10%;
  background: #eee;
  color: hsl(245, 42%, 10%);
  transition: all 0.3s ease;
  &:hover {
    color: #eee;
    background: hsl(245, 42%, 10%);
  }
}

.instructions {
  z-index: 200;
  color: #eee;
  position: absolute;
  top: 30%;
  left: 10%;
  h1 {
    font-size: var(--fs-xl);
    margin: 0.5em 0;
  }
  fieldset {
    border-color: hsl(245, 42%, 10%);
    legend {
      background: none;
      border: 1px solid hsl(245, 42%, 10%);
      color: hsl(245, 42%, 10%);
      padding: 3px 6px;
      margin-left: 1em;
      font-size: var(--fs-600);
    }
    p {
      padding: 1em;
      color: hsl(245, 42%, 10%);
      font-size: var(--fs-500s);
    }
    i {
      margin-right: 0.5em;
    }
  }
}

fieldset {
  opacity: 0;
  animation: fadein 2s ease 6s forwards;
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}

.silver {
  color: rgb(124, 236, 231);
}
.gold {
  color: rgb(14, 255, 255);
}
.fa-heart-broken {
  color: crimson;
}
.fa-trophy {
  color: gold;
}

//* overlay

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: 99;
}

.first {
  background: limegreen;
}
.second {
  background: limegreen;
  left: 33.3%;
}
.third {
  background: limegreen;
  left: 66.6%;
}
